<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Component</h3>

                <div class="card-tools">
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="inputStatus">Category</label>
                    <select id="inputStatus" class="form-control custom-select">
                        <option selected disabled>Select one</option>
                        <option>CPU</option>
                        <option>GPU</option>
                        <option>Motherboard</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputName">Model</label>
                    <input type="text" id="inputName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputDescription">Manufacturer</label>
                    <textarea id="inputDescription" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="inputClientCompany">Made on</label>
                    <input type="text" id="inputClientCompany" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputProjectLeader">Price</label>
                    <input type="text" id="inputProjectLeader" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputSpecifications">Specifications:</label>

                    <br />
                    <label for="inputSpecifications">Name</label>
                    <input type="text" id="inputSpecifications" class="form-control">
                    <label for="inputSpecifications">Description</label>
                    <input type="text" id="inputSpecifications" class="form-control">
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div class="row aditional-buttons">
    <div class="col-12">
        <a href="#" class="btn btn-secondary">Cancel</a>
        <input type="submit" value="Create new component" class="btn btn-success create-component-btn">
        <input type="submit" value="Add another specification" class="btn btn-success create-specification">
    </div>
</div>