@using PCBuilder.Core.Models.Cart
@model CartViewModel

<div class="wrapper">

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Cart</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cart</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">
                                    #
                                </th>
                                <th style="width: 35%">
                                    Component
                                </th>
                                <th style="width: 30%">
                                    Image
                                </th>
                                <th style="width: 35%">
                                    InStock
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var component in Model.Components)
                            {
                                <tr>
                                    <td>
                                        #
                                    </td>
                                    <td>
                                        <a>
                                            @component.Manufacturer @component.Model
                                            Nvidia Gforce RTX 3070
                                        </a>
                                        <br />
                                        <small>
                                            @component.Price
                                            16GB
                                        </small>
                                    </td>
                                    <td>
                                        <img class="cart-image" src="@component.ImageUrl" />
                                    </td>
                                    <td class="project-state">
                                        <span class="badge badge-success" style="float: left">Available</span>
                                    </td>
                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" href="/DetailsComponent/{id}">
                                            <i class="fas fa-folder">
                                            </i>
                                            Details
                                        </a>
                                        <a class="btn btn-info btn-sm" href="/ReplaceComponent/{id}">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Replace
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="/RemoveComponent/{id}">
                                            <i class="fas fa-trash">
                                            </i>
                                            Remove
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; 2014-@DateTime.Today <a href="/">PCBuilder</a>.</strong> All rights reserved.
    </footer>

</div>
