<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Profile Information</h3>
            <div class="card-tools">
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="inputName">First Name</label>
                <input type="text" id="inputName" class="form-control" value="Vladislav">
            </div>
            <div class="form-group">
                <label for="inputName">Last Name</label>
                <input type="text" id="inputName" class="form-control" value="Targovski">
            </div>
            <div class="form-group">
                <label for="inputClientCompany">Email</label>
                <input type="text" id="inputClientCompany" class="form-control" value="vladi85264@abv.bg">
            </div>
        </div>
    </div>
</div>