@using Microsoft.AspNetCore.Identity
@using PCBuilder.Infrastructure.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="~/img/avatar4.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a asp-controller="User" asp-action="Profile" class="d-block">@User.Identity?.Name</a>
        </div>
      </div>
}
