<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="fas fa-home"></i>
                <p>
                    Home
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Cart/Cart" class="nav-link">
                <i class="fas fa-shopping-cart"></i>
                <p>
                    Cart
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Cart/AddComponent" class="nav-link">
                <i class="fas fa-shopping-cart"></i>
                <p>
                    AddComponent
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Cart/DetailsComponent" class="nav-link">
                <i class="fas fa-shopping-cart"></i>
                <p>
                    ComponentDetails
                </p>
            </a>
        </li>
    </ul>
</nav>