<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a asp-area="admin" asp-controller="user" asp-action="ManageUsers" class="nav-link">
                <i class="fas fa-users"></i>
                <p>
                    Manage Users
                </p>
            </a>
        </li>

    </ul>
</nav>