html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
/*  margin-bottom: 60px;*/
}

.span.badge.badge-success {
    float: left
}

.cart-image{
    width: 150px;
}

.cart-details-btn{
    padding-top: 655px;
    padding-left: 27px;
}

.btn-edit-cancel{
    margin-left: 410px;
    margin-top: -60px;
    padding-left: 40px;
    padding-right: 40px
}

.aditional-buttons{
    margin-bottom: 20px
}
