html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
/*  margin-bottom: 60px;*/
}

.span.badge.badge-success {
    float: left
}

.cart-image{
    width: 150px;
}

.cart-details-btn{
    padding-top: 720px;
    padding-left: 27px;
}