@{
    ViewData["Title"] = "Home Page";
}

<div class="col-12">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <a itemprop="url" asp-controller="Home" asp-action="Ram">
                    <div class="box">
                        <img class="img-fluid mx-auto d-block mega-image lazy loaded" src="https://images.pcbuilder.dev/assets/images/megamenu/memory.png">
                        <p>Memory</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a itemprop="url" asp-controller="Home" asp-action="MotherBoards">
                    <div class="box">
                        <img class="img-fluid mx-auto d-block mega-image lazy loaded" src="https://images.pcbuilder.dev/assets/images/megamenu/motherboard.png">
                        <p>Motherboard</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a itemprop="url" asp-controller="Home" asp-action="Cpus">
                    <div class="box">
                        <img class="img-fluid mx-auto d-block mega-image lazy loaded img-cpu" src="https://images.pcbuilder.dev/assets/images/mega-menu/nav-processor.png">
                        <p>CPU</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a itemprop="url" asp-controller="Home" asp-action="Cases">
                    <div class="box">
                        <img class="img-fluid mx-auto d-block mega-image lazy loaded" src="https://images.pcbuilder.dev/assets/images/megamenu/case.png">
                        <p>Case</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a itemprop="url" asp-controller="Home" asp-action="PowerSupplies">
                    <div class="box">
                        <img class="img-fluid mx-auto d-block mega-image lazy loaded" src="https://images.pcbuilder.dev/assets/images/megamenu/power-supply.png">
                        <p>Power Supply</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a itemprop="url" asp-controller="Home" asp-action="Gpus">
                    <div class="box">
                        <img class="img-fluid mx-auto d-block mega-image lazy loaded" src="https://images.pcbuilder.dev/assets/images/megamenu/graphics-card.png">
                        <p>Graphics Card <span class="sr-only">(current)</span></p>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a itemprop="url" asp-controller="Home" asp-action="Ssds">
                    <div class="box">
                        <img class="img-fluid mx-auto d-block mega-image lazy loaded" src="https://images.pcbuilder.dev/assets/images/megamenu/storage.png">
                        <p>Storage </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

